/*  your css code here. If applicable */
body{
	width:1100px;
	background-color:#cbd6cb;
}

img{
	width:430px;
	height:200px;
	
}

.tableImage{
	width:200px;
	height:140px;
}

table{
	border:10px solid black;
}

