/*  your css code here. If applicable */
body{
	width:1100px;
	background-color:#cbd6cb;
}

img{
	width:430px;
	height:230px;
	
}

.tableImage{
	width:200px;
	height:140px;
}

.middleColumn{
	width:600px;
	text-align:center;
    list-style-position: inside;
}

table {
    border: 1px solid gray;
    width: 100%;
	font-family:Serif;
}


